{{- if .airgapped -}}
{{- else -}}
[".zinit"]
    type = "git-repo"
    url = "https://github.com/zdharma-continuum/zinit.git"
    refreshPeriod = "168h"
[".zinit".pull]
    args = ["--ff-only"]


[".config/alacritty/themes"]
    type = "git-repo"
    url = "https://github.com/alacritty/alacritty-theme"
    refreshPeriod = "168h"
[".config/alacritty/themes".pull]
    args = ["--ff-only"]

[".tmux/plugins/tpm"]
    type = "git-repo"
    url = "https://github.com/tmux-plugins/tpm"
    refreshPeriod = "168h"
[".tmux/plugins/tpm".pull]
    args = ["--ff-only"]

[".hammerspoon/Spoons/PaperWM.spoon"]
    type = "git-repo"
    url = "https://github.com/mogenson/PaperWM.spoon"
    refreshPeriod = "168h"
[".hammerspoon/Spoons/PaperWM.spoon".pull]
    args = ["--ff-only"]
{{- end -}}
