[data]
{{ include (joinPath .chezmoi.homeDir ".chezmoi_hostmeta.toml") }}

[git]
autoCommit = true
autoPush = {{ default "false" .airgapped }}

[edit]
apply = true

[template]
options = ["missingkey=zero"]

