theme = "onedark"

[editor]
line-number = "relative"

[editor.file-picker]
hidden = false
git-ignore = false

[editor.soft-wrap]
enable = true

[editor.statusline]
left = ["mode", "spinner"]
center = ["file-name", "read-only-indicator", "file-modification-indicator"]
right = ["diagnostics", "selections", "position", "file-encoding", "file-line-ending", "file-type"]

[editor.lsp]
display-messages = true
display-inlay-hints = true

[editor.whitespace.render]
tab = "all"

[editor.indent-guides]
render = true
